*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body   {
    background-color: black;
}

#pageContainer {
    max-width: 1920px;
    max-height: 1080px;
}
#titleContainer {
    width: 945px;
    height: 200px;
    position: absolute;
    left: calc(50% - 472px);
    top: calc(20% - 100px)
}
#pageTitle {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 150px;
}

#buttonContainer {
    width: 250px;
    height: 100px;
    display: block;
    position: absolute;
    left: calc(50% - 125px);
    top: calc(40% - 50px)
}
#button {
    font-size: 80px;
    color: white;
    border: white 1px solid;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    display: block;
    justify-content: center;
    align-items: center;
    position: absolute;
    transition: 1s;
}

#button:hover {
    transform: scale(1.5);
    transition: 1s;
}

a{
    color: white;
    text-decoration: none;
}

a:visited{
    color: white;
    text-decoration: none;
}

/**************************************/
/*         CSS Téléphones             */
/**************************************/


@media screen and (max-width: 1024px) {

    #titleContainer {
       width: 320px;
       left: calc(50% - 160px);
       top: calc(30% - 100px)
    }

    #pageTitle {
        font-size: 60px;
        text-align: center;
    }

    #buttonContainer{
        top: calc(60% - 50px);
    }

} 