*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body   {
    background-color: black;
}

#titleContainer {
    border: violet 1px solid;
    width: 1200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: 27%;
}
#pageTitle {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 150px;
}

#buttonContainer {
    width: 250px;
    height: 100px;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: calc(50% - 80px);
    margin-top: 10%;
    position: absolute;
}
#button {
    font-size: 80px;
    color: white;
    border: white 1px solid;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    display: block;
    justify-content: center;
    align-items: center;
    position: absolute;
}
/**************************************/
/*         CSS Téléphones             */
/**************************************/

@media screen and (max-width: 1023px) {

    #pageTitle {
        font-size: 80px;
        text-align: center;
        margin-top: 30px;
    }

    #buttonContainer{
        margin-left: calc(100vw - 70%);
        text-align: center;
    }

    #button{
        text-align: center;

    }
}